/********** Base Styles **********/
h1{text-align:center;}

  #section1{
    border:1px solid black;
    background-color:grey;
    padding:2% 3%;
  }
  #section2{
    border:1px solid black;
    background-color:grey;
    padding:2% 3%;
  }
  #section3{
    border:1px solid black;
    background-color:grey;
    padding:2% 3%;
  }
  #title1{
    float:right;
    border:1px solid black;
    background-color:red;
    color:white;
    text-align:center;
    width:33%;
    margin-right:-15%;
    margin-top:-10%;
  }
  #title2{
    float:right;
    border:1px solid black;
    background-color:blue;;
    color:white;
    text-align:center;
    width:33%;
    margin-right:-15%;
    margin-top:-10%;
  }
  #title3{
    float:right;
    border:1px solid black;
    background-color:green;
    color:white;
    text-align:center;
    width:33%;
    margin-right:-15%;
    margin-top:-10%;
  }


/********** Desktop **********/
@media (min-width: 992px) {
  #section1{
    float:left;
    width:20.667%;
    margin-left:5%;
  }
  #section2{
    float:left;
    width:20.667%;
    margin-left:5%;
  }
  #section3{
    float:left;
    width:20.667%;
    margin-left:5%;
  }
  
}

/********** Tablet **********/
@media (min-width: 768px) and (max-width: 991px) {
  #section1{
    float:left;
    width:39%;
    margin-left:4%;
    margin-bottom:10px;
  }
  #section2{
    float:left;
    width:39%;
    margin-left:4%;
    margin-bottom:10px;
  }
  #section3{
    float:left;
    width:88.3%;
    margin-left:4%;
  }
}

/********** Mobile **********/
@media only screen and (max-width: 767px) {
  #section1{
    width:94%;
    margin-bottom:10px;
  }
  #section2{
    width:94%;
    margin-bottom:10px;
  }
  #section3{
    width:94%;
    margin-bottom:10px;
  }
}



