/********** Base Styles **********/
  #section1{
    border:1px solid black;
  }
  #section2{
    border:1px solid black;
  }
  #section3{
    border:1px solid black;
  }


/********** Desktop **********/
@media (min-width: 992px) {
  #section1{
    float:left;
    width:30%;
  }
  #section2{
    float:left;
    width:30%;
  }
  #section3{
    float:left;
    width:30%;
  }
  
}

/********** Tablet **********/
@media (min-width: 768px) and (max-width: 991px) {
  #section1{
  }
  #section2{
  }
  #section3{
  }
}

/********** Tablet **********/
@media only screen and (max-width: 767px) {
  #section1{
  }
  #section2{
  }
  #section3{
  }
}



